@model ICollection<TaskManagerProject.Models.Project>
@{
    ViewBag.Title = "SeeAllProjects";
}
<h1>PROJECT MANAGER DASHBOARD</h1>
<br />
@Html.ActionLink("Notifications", "ProjectManagerNotifications", "Notifications") |
@Html.ActionLink("Tasks For A Project", "ViewTasksForAProject", "Projects1") |
@Html.ActionLink("Projects That Exceeded Budget", "ProjectsExceededTheirBudget", "Projects1") |
@Html.ActionLink("Total Cost Of Completed Projects", "CompletedProjectTotalCost", "Projects1")
<br />
<h2>Projects:</h2>
<br />
@foreach (var project in Model)
{
    <p>Project Name: @project.Name</p>
    <p>Assigned Tasks:</p>
    foreach (var task in project.DevTasks)
    {
        <p>Task Name: @task.Name</p>
        <p>Assigned Developer: @task.ApplicationUsers.Select(u => u.UserName)</p>
    }
    <br />
    <br />
}
<br />
<br />



